body {
  font-family:Biryani;
  background-color: #F5F5F5;
  position: relative;
}

nav {
  background-color: white;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  position:fixed;
}

main {
  margin-left:87px;
}

header {
  font-size: 35px;
  display: block;
  margin: 25px 18px;
}

.welcome {
  width: 610px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 22px;
  border-style:invisible;
  background: linear-gradient(90deg, rgba(142,209,220,1) 0%, rgba(227,244,246,1) 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.info {
    border: solid;
    border-color: white;
    background-color: white;
    height: 90px;
    width: 177px;
    margin: 0px 27px 20px 0px;
    display: inline-block;
    border-radius: 2px;
    line-height: 30px;
    font-size: 10px;
    text-align:left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.welcome-message {
  display: inline;
  line-height:100px;
  padding-left: 20px;
}

.info-name {
  padding-left: 20px;
  margin-bottom: 0;
}

.info-num {
  padding-left: 20px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.account{
  background-color: white;
  width: 580px;
  height: 44px;
  border-style:hidden;
  margin: 15px 0 0 0;
  padding: 10px 10px 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.account-bank {
  display: inline-block;
  margin-left: 70px;
}

.account-account {
  display: inline-block;
  float: right;
  margin-right: 80px;
  margin-top: 10px;
}

.account-icon {
  height: 31px;
  width: 38px;
}

.logo-icon {
  height: 75px ;
  width: 65px;
  position:absolute;
  left: 10px;
  top: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  width: 40px;
  top: 280px;
  position: relative;
}

li img {
  height: 45px;
  width: 40px;
  position: relative;
  left: 50%;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: white;
}

.nav-icon {
  padding-left: 15px;
  margin-left: -15px;
}

.nav-icon:hover,
.nav-icon:hover,
.nav-icon:hover {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BCD9EA;
}

.active {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color:#1CA3BA;
}

.hide {
  display: none;
}

.close {
  height: 16px;
  width: 16px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.column1of2 {
    margin-top: 0;
    padding-top:0;
    margin-left: 18px;
    display: inline-block;
    float: left;
}

.column2of2 {
    padding:20px;
    float: right;
    margin-right: 30px;
    width: 40%;
    margin-top: 0;
    background-color: white;
    display: inline-block;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


table{
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  border-collapse: collapse;
  width: 520px;
}

tr {
  width: 140px;
  height: 40px;
}

th {
  background-color: white;
  border-collapse: collapse;
  width: 53px;
  height: 0px
  margin: 20px;
  padding: 20px;
}

.trans-table {
  width: 70px;
  margin: 0px;
  padding: 0;
}

.tbl-top {
  background-color: white;
  border-collapse: collapse;
  border-bottom:0px;
  width: 583px;
  height: 40px;
  padding-bottom: 10px;
}

.tbl-head {
  display: inline-block;
  float: left;
  font-size: 20px;
  padding-bottom: 10px;
}

td {
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  border-collapse: collapse;
  height: 40px;
  font-size: .9em;
}

.tbl-date {
  padding-right: 20px;
}

.tbl-payee {
  padding-right: 40px;
}
 button {
  background-color:#1CA3BA;
  color: white;
  border-radius: 15px;
  height: 30px;
  width: 170px;
  font-size: 13px;
  float: right;
  cursor: pointer;
}

.trans-header {
  font-size: 1.15em;
}

.tbl-mrgns {
  margin: auto;
  width: 90%;
  background-color:#FFFFFF;

}


.account-button {
  margin-right:25px;

}



.screen-left {
  float: left;
  width: 50%;
  margin-left: 30px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


}

.screen-right {
  float: right;
  width: 30%;
  margin-right: 50px;
  background: white;
  margin-top: 0;
  padding: 10px 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.screen-right p {
  line-height: 0px;
}

.container {
  display: inline-block;
  width: 100%;
}

input {
  height: 30px;
  width: 380px;
  text-indent: 5px;
  font-size: 15px;
  border-style: none;
  border-color: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.transactions-head {
  position: relative;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 10px;

}

select {
  width: 382px;
  height: 32px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: 200;
  background-color: #F4F4F4;
  margin-bottom: 10px;
}

.trans-h2 {
  text-align: center;
}

.trans-button {
  width: 100px;
  display: inline;
  margin-left: 3px;

}

.button-align {
  position: relative;
  margin-right:100px;
  right: 570px;
  bottom: 50px;
}

.button-inactive {
  background-color: white;
  color: #1CA3BA;
  border-color: #1CA3BA;
}

.log-button {
  float: left;
  border-color: none;
  border-style: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;

}
.forMat {
  background-color: white;

}

.trans.input {
  width: 80px;
  height: 30px;
  margin-bottom: 10px;

}
