


body {
  font-family:Biryani;
  background-color: #F5F5F5;
  position: relative;
}


nav {
  background-color: white;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  position:fixed;

}


main {
  margin-left:87px;

}


header {
  font-size: 25px;
  display:block;

  margin-left: 18px;
  margin-top: 25px;
  margin-bottom: 25px;

}

.welcome {
  width: 610px;
  height: 100px;
  border-radius: 5px;
  margin-bottom: 22px;
  border-style:invisible;
  background: linear-gradient(90deg, rgba(142,209,220,1) 0%, rgba(227,244,246,1) 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.info {
    border: solid;
    border-color: white;
    background-color: white;
    height: 90px;
    width: 177px;
    margin: 0px 27px 20px 0px;
    display: inline-block;
    border-radius: 2px;
    line-height: 30px;
    font-size: 10px;
    text-align:left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);


}

.welcome-message {
  display: inline;
  line-height:100px;
  padding-left: 20px;
}

.info-name {
  padding-left: 20px;
  margin-bottom: 0;
}

.info-num {
  padding-left: 20px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.account{
  background-color: white;
  width: 580px;
  height: 44px;
  border-style:hidden;
  margin: 15px 0 0 0;
  padding: 10px 10px 10px 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

.account-bank {
  display: inline-block;
  margin-left: 70px;

}

.account-account {
  display: inline-block;
  float: right;
  margin-right: 80px;
  margin-top: 10px;
}
.account-icon {
  height: 31px;
  width: 38px;

}

.logo-icon {
  height: 75px ;
  width: 65px;
  position:absolute;
  left: 10px;
  top: 10px;

}

ul {
  list-style-type: none;
  padding-left: 0;
  width: 40px;
  top: 280px;
  position: relative;
}

li img {
  height: 45px;
  width: 40px;
  position: relative;
  left: 50%;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: white;


}
.nav-icon {
  /* padding-bottom: 20px; */
  /* padding-top: 15px; */
  padding-left: 15px;
  margin-left: -15px;

}

.nav-icon:hover,
.nav-icon:hover,
.nav-icon:hover {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BCD9EA;

}

.active {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color:#1CA3BA;

}

.hide {
  display: none;
}


.close {
  height: 16px;
  width: 16px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;

}

.column1of2 {
    margin-top: 0;
    padding-top:0;
    margin-left: 18px;
    display: inline-block;
    float: left;

}

.column2of2 {
    padding:20px;
    margin-top: 0;
    background-color: white;
    display: inline-block;
    padding-left: 30px;
    padding-right: 20px;
    margin-left: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}


table{
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  border-collapse: collapse;
  width: 520px;
  height: 40px;

}

tr {
  width: 50px;
  height: 40px;
}
th {
  background-color: white;
  border-collapse: collapse;
  width: 53px;
  height: 40px;
}

.tbl-top {
  background-color: white;
  border-collapse: collapse;
  border-bottom:0px;
  width: 583px;
  height: 40px;
  padding-bottom: 10px;
}

.tbl-head {
  display: inline-block;
  float: left;
  font-size: 20px;
  padding-bottom: 10px;
}

td {
  background-color: white;
  border-bottom: 1px solid #CCCCCC;
  border-collapse: collapse;
  width: 563px;
  height: 40px;
}

.tbl-date {
  font-size: 6px;
  padding-right:20px;
}
 button {
  background-color:#1CA3BA;
  color: white;
  border-radius: 15px;
  height: 30px;
  width: 170px;
  font-size: 13px;
  float: right;
  cursor: pointer;
}


.tbl-mrgns {
  padding: 20px;
  background-color:#FFFFFF;
}


.account-button {
  margin-right:25px;

}

.screen-left {
  float: left;
  display: inline-block;

}

.screen-right {
  float: right;
  display: inline-block;
  margin-right: 300px;

}

/* .transactions-head {
  width: 250px;
  display: inline-block; */
}

.forMat {
  background-color: white;

}
